fa[name="refresh"] {
    display: none;
}
.on-wait {
    display: inline-block !important;
    vertical-align: middle;
    cursor: not-allowed;
}

@media screen and (max-width:767px) {
    ul.list-group {
        display: block;
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    ul > li.list-group-item {
        display: inline-block;
        vertical-align: middle;
        margin-left: -2px;
        width: 50%;
    }
}
@media screen and (max-width:480px) {
    ul > li.list-group-item {
        width: 98%;
    }
}