<div id="contentarea">
  <div id="main" class="row do-centered">
    <div class="col col-sm-8 col-xs-12 block">
      <div class="row">
        <div class="inner col col-xs-12 container">
          <h1>Become a part of PTI</h1>
  <!--        <img class="img-responsive do-centered" src="http://graph.facebook.com/{{imageID}}/picture" alt="">-->
          <p>Name : {{name}}</p>
          <p>Email: {{email}}</p>
          <p> Token {{accessToken}}</p>
          <h3>Show Profile</h3>
          <button class="btn-fbloginbtn btn-lg btn-primary btn-block">Share on facebook</button>
        </div>
      </div>
    </div>
    <div class="col col-xs-4 col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">
          <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="">
        </li>
        <li class="list-group-item">
          <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="">
        </li>
        <li class="list-group-item">
          <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="">
        </li>
        <li class="list-group-item">
          <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="">
        </li>
        <li class="list-group-item">
          <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>