/* You can add global styles to this file, and also import other style files */
.do-centered {
    float: none !important;
    margin: 0 auto !important;
}
.header-margin {
    margin: 50px 0 0 0;
    display: block;
}
.header-margin::after{
    display: block;
    overflow: hidden;
    clear: both;
}
#contentarea {
    margin: auto;
    max-width: 1236px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}